body {
}

footer {
  padding: 15px 0px;
  margin-top: 20px;
  border-top: 1px solid #ccc;
}

aside {
  background: #eee;
  border-radius: 8px;
}

.main-title {
  text-align: center;
  margin-bottom: 20px;
}

