* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }

 .clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html, body {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background: white;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: #666;
  margin-bottom: 10px;
  line-height: 1.2;
}

h1 {
  font-size: 28px;
}

h1.category {
  text-transform: capitalize;
}

.categories h2 {
  text-transform: capitalize;
  margin-bottom: 12px;
  font-size: 22px;
}

.location h3.next {
  color: #694941;
}

p.post-category {
  text-transform: capitalize;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #444;
}

p, li {
  font-weight: normal;
}

li a.post-link {
  font-weight: 300;
}

p a {
  text-decoration: none;
}

a,
a:hover,
a:visited {
  color: #228383;
  text-decoration: none;
}

.sidebar a,
.sidebar a:hover,
.sidebar a:visited {
  color: #f4f4f4;
}

.sidebar .site-title a:hover,
.sidebar ul li a:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.social-icons {
  width: 100%;
  margin: 0 -15px;
  text-align: center;
  position: absolute;
  bottom: 10px;
}

.social-icons img {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 10px 15px;
}

.sidebar svg {
  fill: #eee;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 10px 15px;
}

h1.site-title {
  font-size: 77px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 0;
  text-align: center;
}


.titles {
  width: 330px;
  margin: 0 auto;
  background: rgba(0,0,0,0.6);
}

h1.site-title span {
  padding: 8px 5px 1px;
}

.sidebar .site-title a {
  color: #A8D6D6;
}

.sidebar .site-title a:hover {
  color: #6acdcd;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.page h1 {
  text-align: left;
  margin-bottom: 20px;
}

h2.description {
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-top: -2px;
}

h2.description span {
  padding: 7px 5px 5px;
}

.post-list h2 {
  text-align: left;
  line-height: 1.2;
}

.post-list p {
  margin-bottom: 0;
  color: #555;
}

.speaker-name {
  text-transform: capitalize;
  white-space: nowrap;
}

.speaker-date {
  background: #099;
  padding: 5px 10px;
  color: white;
  text-align: center;
}

h2.speaker-date {
  font-size: 22px;
  margin-bottom: 12px;
}

.separator:last-child {
  display: none;
}

.page-content img {
  display: block;
  margin: 30px auto;
  margin-left: 0;
  /*width: 100%;*/
  text-align: left;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.date {
  color: #8A7B2A;
}

.sidebar {
  position: fixed;
  color: white;
  width: 40%;
  height: 100%;
  float: left;
  padding: 40px 15px;
  background-image: url('../images/sidebar-background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar table {
  margin-left: auto;
  margin-right: auto;
}

.location {
  padding: 15px 30px 8px;
  width: 290px;
  background: rgba(0,0,0,0.6);
  margin: 0 auto 30px;
}

.location p {
  color: #ACFFFF;
}

.location h3 {
  margin-bottom: 0;
  clear: both;
  color: white;
}

.location h3.next {
  color: white;
  font-weight: 400;
}

.address {
  width: 175px;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
}

.location svg {
  fill: #ACFFFF;
  width: 30px;
  height: 30px;
  margin: 0;
}

.location a {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  margin-top: 15px;
}

.page-content {
  width: 60%;
  float: right;
}

.post,
.page {
  margin-bottom: 50px;
}

.wrapper {
  padding: 40px 80px 10px;
  background: #F8F8F8;
}

body {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}

blockquote {
  margin: 10px 25px;
  background: #86A9A9;
  padding: 10px 15px;
}

blockquote p:last-child {
  margin-bottom: 0px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.wrapper ul {
  margin-bottom: 10px;
  list-style-position: outside;
  margin-left: 40px;
  margin-right: 40px;
}

.wrapper ul li {
  color: #444;
}

.sidebar ul {
  list-style-type: none;
  text-align: center;
  margin-bottom: 20px;
}

.left-menu ul li {
  display: inline-block;
  padding: 0;
  margin: 20px 3px;
  font-size: 18px;
  text-transform: uppercase;
}

.left-menu ul li a {
  padding: 10px 8px 6px;
  background: #099;
}

.left-menu ul li a:hover {
  background: #028B8B;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

button {
  width: 75px;
  height: 25px;
  margin-bottom: 20px;
  font-size: 14px;
  border: 1px solid #bbb;
  border-radius: 12px;
  color: #099;
  background: #FFF;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.pagination-right {
  float: right;
}

.footer {
  padding: 22px 30px 42px;
  color: white;
  text-align: center;
  background: #86A9A9;
}

.footer p {
  color: white;
  font-weight: 300;
}

.footer a {
  color: white;
}

.footer p {
  width: 50%;
  float: left;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.google-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/* media queries */

@media screen and (max-width : 1100px) {

  .wrapper {
    padding: 30px;
  }

  h1.site-title {
    font-size: 70px;
  }

  h2.description {
    font-size: 18px;
  }

}

@media screen and (max-width : 880px) {

  .sidebar {
    width: 50%;
  }

  .page-content {
    width: 50%;
  }

}

@media screen and (max-width: 767px) {

  h1.site-title {
    font-size: 62px;
  }

  h2.description {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .titles {
    width: 290px;
  }

  .sidebar {
    width: 100%;
    float: none;
    height: auto;
    position: static;
    padding: 20px 15px 5px;
  }

  .sidebar ul,
  .sidebar li {
    margin-bottom: 0;
  }

  .page-content {
    width: 100%;
    float: none;
  }

  .wrapper {
    padding: 15px;
  }

  .social-icons {
    margin: 0 -15px;
    position: static;
    width: auto;
  }

  .footer {
    padding: 20px 15px 40px;
  }

}

@media screen and (max-width: 400px) {
  .left-menu ul li {
    margin: 20px 0px;
  }
}
