* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }

 .clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html, body {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background: #87836D;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: #707070;
  margin-bottom: 20px;
  line-height: 1.2;
}

h1 {
  font-size: 28px;
}

h1.category {
  text-transform: capitalize;
}

.categories h2 {
  text-transform: capitalize;
  margin-bottom: 15px;
}

.location h3.next {
  color: #694941;
}

p.post-category {
  text-transform: capitalize;
}

p {
  margin-bottom: 10px;
  color: #444;
}

p, li {
  font-weight: normal;
}

li a.post-link {
  font-weight: 300;
}

p a {
  text-decoration: underline;
}

a,
a:hover,
a:visited { 
  color: #228383;
  text-decoration: none;
}

.sidebar a,
.sidebar a:hover,
.sidebar a:visited { 
  color: #f4f4f4;
}

.sidebar table {
  margin-left: auto;
  margin-right: auto;
}

a:hover {
  text-decoration: none;
}

.social-icons {
  width: 100%;
  margin: 0 -15px;
  text-align: center;
  position: absolute;
  bottom: 10px;
}

svg {
  fill: #eee;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 10px 15px;
}

.separator:last-child {
  display: none;
}

h1.site-title {
  font-size: 77px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 0;
  text-align: center;
}

.sidebar .site-title a {
  color: #f4f4f4;
}

.sidebar .site-title a:hover {
  color: #C9C7BC;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.page h1 {
  text-align: left;
  margin-bottom: 20px;
}

h2.description {
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.post-list h2 {
  text-align: left;
  margin-bottom: 10px;
  line-height: 1.2;
}

.post-list p {
  margin-bottom: 0;
  color: #777;
}

.speaker-date {
  background: #B4B09D;
  padding: 5px 10px;
  color: white;
  text-align: center;
}

h2.speaker-date {
  font-size: 22px;
  margin-bottom: 12px;
  text-transform: capitalize;
}

.page-content img {
  display: block;
  margin: 10px auto 30px;
  max-width: 100%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.date {
  color: #8A7B2A;
}

.sidebar {
  position: fixed;
  color: white;
  width: 40%;
  height: 100%;
  float: left;
  padding: 40px 15px;
  background: #099;
  border-right: 10px solid #64A7A7;
  background-image: -webkit-gradient(
    linear,
    right top,
    right bottom,
    color-stop(0.16, #247575),
    color-stop(0.88, #009999)
  );
  background-image: -o-linear-gradient(bottom, #247575 16%, #009999 88%);
  background-image: -moz-linear-gradient(bottom, #247575 16%, #009999 88%);
  background-image: -webkit-linear-gradient(bottom, #247575 16%, #009999 88%);
  background-image: -ms-linear-gradient(bottom, #247575 16%, #009999 88%);
  background-image: linear-gradient(to bottom, #247575 16%, #009999 88%);
}

.location {
  padding: 15px;
  border-radius: 5px;
  background: #C9C7BC;
  width: 290px;
  margin: 0 auto 30px;
}

.location h3,
.location p {
  color: #2A4D4D;
  margin-bottom: 15px;
}

.location h3.next {
  color: white;
  font-weight: 400;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

h3.contact {
  text-align: center;
}

.location p {
  color: #506363;
  margin-left: 40px;
}

.page-content {
  width: 60%;
  float: right;
}

.post,
.page {
  margin-bottom: 50px;
}

.wrapper {
  padding: 40px 80px 10px;
  background: #F8F8F8;
}

.wrapper ul {
  margin-bottom: 10px;
  list-style-position: inside;
}

.sidebar ul {
  list-style-type: none;
  text-align: center;
  margin-bottom: 20px;
}

.left-menu ul li {
  display: inline-block;
  padding: 0;
  margin: 20px 5px;
  font-size: 18px;
  text-transform: uppercase;
}

.left-menu ul li a {
  padding: 8px;
  background: #2A4D4D;
}

.left-menu ul li a:hover {
  background: #1E3C3C;
  color: #C9C7BC;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

button {
  width: 75px;
  height: 25px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 12px;
  color: #B8A433;
  background: #FFF;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.pagination-right {
  float: right;
}

.footer {
  padding: 20px 30px 40px;
  color: white;
  text-align: center;
  background: #87836D;
}

.footer p {
  color: white;
  font-weight: 300;
}

.footer a {
  color: white;
}

.footer p {
  width: 33%;
  float: left;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.google-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/* media queries */

@media screen and (max-width : 1100px) {

  .wrapper {
    padding: 30px;
  }

  h1.site-title {
    font-size: 70px;
  }

  h2.description {
    font-size: 18px;
  }

}

@media screen and (max-width : 880px) {

  .sidebar {
    width: 50%;
  }

  .page-content {
    width: 50%;
  }

}

@media screen and (max-width: 767px) {

  h1.site-title {
    font-size: 62px;
  }

  h2.description {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .sidebar {
    width: 100%;
    float: none;
    height: auto;
    position: static;
    padding: 20px 15px 5px;
  }

  .sidebar ul,
  .sidebar li {
    margin-bottom: 0;
  }

  .page-content {
    width: 100%;
    float: none;
  }

  .wrapper {
    padding: 15px;
  }

  .categories {
    display: none;
  }

  .social-icons {
    margin: 0 -15px;
    position: static;
    width: auto;
  }

}