body {
  --background-color: #00767f85;
  --bg-color: #00767f;
  --header-color: #999999;
  --link-color--old: #7fffff;
  --link-color: #16ece4;
  --link-color-dark: #00767f;

  grid-template-columns: 1fr 2fr;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #222222;
  display: grid;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

body>header {
  text-align: left;
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  z-index: 0;
  background-color: #1fa0a085;
}

body>header img {
  padding: 24px 25px 25px 25px;
  width: 200px;
}

body>aside {
  grid-column: 1 / 1;
  grid-row: 1 / span 3;
  background-image: url('/images/sidebar-background.jpg');
  background-color: #222222;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 25px;
  padding-top: 250px;
}

body>aside p {
  color: #ffffff;
  background-color: #00000099;
  padding: 20px;
}

body>aside #cta {
  color: #ffffff;
  background-color: #00000099;
  list-style: none;
  padding: 20px;
}

body>aside #cta li {
  padding-bottom: 20px;
}

body>aside #cta li:last-child {
  padding-bottom: 0px;
}

body>aside a {
  color: var(--link-color);
}

body>main {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  padding: 20px;
  padding-top: 80px;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 0;
}

body>main>header>h1 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: right;
}

body>main>article {
  margin-bottom: 3.5em;
}

body>main>article>header>h2 {
  font-size: 24px;
  margin: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;

}

body>main>article>header>h3 {
  font-size: 18px;
  color: var(--header-color);
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: right;
}

body>main>article>main {
  margin-bottom: 0px;
}

body>main>article>footer {
  font-weight: bold;
  padding-top: 18px;
  padding-bottom: 10px;
  font-size: 20px;
}

body>footer {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
  z-index: 0;
  background-color: #1fa0a085;
  text-align: right;
  padding-right: 20px;
}

body>footer #social-links {
  text-align: right;
  list-style: none;
  margin-top: 17px;
  text-transform: uppercase;
}

body>footer #social-links li {
  display: inline;
  margin: 0px 10px;
}

body>footer #social-links img {
  height: 14px;
  padding-right: 5px;
}

body>footer #social-links a {
  color: #ffffff;
}

a {
  text-decoration: none;
  color: var(--link-color-dark);
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 500px) {

  body {
    grid-template-columns: 1fr;
    overflow: visible;
  }

  body>header {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
  }

  body>header img {
    padding: 24px 25px;
    width: 200px;
  }
  
  body>aside {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    padding-top: 100px;
  }

  body>main {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    overflow: visible;
    padding-top: 20px;
  }

  body>main>header>h1 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
  }

  body>main img {
    display: none;
  }

  body>main>article {
    padding-bottom: 20px;
  }

  body>main>article>header>h1 {
    text-align: left;
    border-style: none;
    padding-top: 0px;
  }
  
  body>main>article>header>h2 {
    text-align: left;
  }

  body>main>article>footer {
    text-align: center;
  }

  body>footer {
    display: none;
  }
}

article {
  background-color: #00000033;
  padding: 1em;
}

.bold {
  font-weight: bold;
}

.definition-header {
  color: var(--header-color);
  margin-bottom: 1em;
}
.definition {
  color: var(--header-color);
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin-bottom: 0.75em;
  padding-left: 1em;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;

  tr {

    &:nth-child(even) {
      background-color: #f2f2f2;
    }
    &:hover {
      background-color: #dddddd;
    }

    th:nth-of-type(1) {
      width: 20%;
    }
    th:nth-of-type(2) {
      width: 50%;
    }
    th:nth-of-type(3) {
      width: 30%;
    }

    th {
      padding-top: 0.75em;
      padding-bottom: 0.75em;
      text-align: left;
      background-color: var(--bg-color);
      color: white;
    }
    td, th {
      border: 1px solid #dddddd;
      padding: 0.5em;
    }
  }
}

.event-article {
  --header-color: #ffffff;
  --link-color-dark: #ef4d24;

  color: #ffffff;
  background-color: #00000099;
}
