body {
  grid-template-columns: 1fr 2fr;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #222222;
  display: grid;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

header {
  text-align: left;
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  z-index: 0;
  background-color: #1fa0a085;
}

aside {
  grid-column: 1 / 1;
  grid-row: 1 / span 3;
  background-image: url('../images/sidebar-background.jpg');
  background-color: #222222;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 25px;
  padding-top: 250px;
}

main {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  padding: 20px;
  padding-top: 140px;
  overflow: scroll;
  overflow-x: hidden;
}

footer {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
  z-index: 0;
  background-color: #1fa0a085;
  text-align: right;
  padding-right: 20px;
}

#social-links {
  text-align: right;
  list-style: none;
  margin-top: 7px;
}

#social-links li {
  display: inline;
  margin: 0 5px;
}

#social-links img {
  height: 35px;
  width: 35px;
}

header img {
  padding: 25px;
  height: 200px;
  width: 200px;
}

aside p {
  color: #ffffff;
  background-color: #00000099;
  padding: 20px;
}

aside #cta {
  color: #ffffff;
  background-color: #00000099;
  list-style: none;
  padding: 20px;
}

aside #cta li {
  padding-bottom: 20px;
}

aside #cta li:last-child {
  padding-bottom: 0px;
}

aside #cta a {
  color: #7fffff;
}

a {
  text-decoration: none;
  color: #00aaaa;
}

a:hover {
  text-decoration: underline;
}
/*
main>h1 {
  font-size: 30px;
  margin-bottom: 50px;
}

article h1 {
  font-size: 30px;
  margin-bottom: 10px;
  border-color: #00aaaa;
  border-bottom-style: dotted;
  border-width: 1px;
}

article h2 {
  font-size: 18px;
  margin-top: 10px;
  color: #666666;
  text-align: right;
  margin-top: -35px;
}

article h3 {
  font-size: 18px;
}
 */
