body {
  grid-template-columns: 1fr 2fr;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #222222;
  display: grid;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

body>header {
  text-align: left;
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  z-index: 0;
  background-color: #1fa0a085;
}

body>header img {
  padding: 25px;
  height: 200px;
  width: 200px;
}

body>aside {
  grid-column: 1 / 1;
  grid-row: 1 / span 3;
  background-image: url('../images/sidebar-background.jpg');
  background-color: #222222;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 25px;
  padding-top: 250px;
}

body>aside p {
  color: #ffffff;
  background-color: #00000099;
  padding: 20px;
}

body>aside #cta {
  color: #ffffff;
  background-color: #00000099;
  list-style: none;
  padding: 20px;
}

body>aside #cta li {
  padding-bottom: 20px;
}

body>aside #cta li:last-child {
  padding-bottom: 0px;
}

body>aside #cta a {
  color: #7fffff;
}

body>main {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  padding: 20px;
  padding-top: 80px;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 0;
}

body>main>header>h1 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: right;
}

body>main>article {
  padding-bottom: 50px;
}

body>main>article>header>h1 {
  font-size: 24px;
  margin: 0;
  padding-top: 25px;
  border-bottom-style: solid;
  border-bottom-width: 1px;

}

body>main>article>header>h2 {
  font-size: 18px;
  color: #999999;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: right;
}

body>main>article>main {
  margin-bottom: 0px;
}

body>main>article>footer {
  font-weight: bold;
  padding-top: 18px;
  padding-bottom: 10px;
  font-size: 20px;
}

body>footer {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
  z-index: 0;
  background-color: #1fa0a085;
  text-align: right;
  padding-right: 20px;
}

body>footer #social-links {
  text-align: right;
  list-style: none;
  margin-top: 7px;
}

body>footer #social-links li {
  display: inline;
  margin: 0 5px;
}

body>footer #social-links img {
  height: 35px;
  width: 35px;
}

a {
  text-decoration: none;
  color: #00aaaa;
}

a:hover {
  text-decoration: underline;
}
