---
layout: default
title: Talks
permalink: /meetups/
---
<div class="page">

  <h1>Meetups</h1>

  <div class="post-list">

    {% for post in site.posts %}
      
      <p class="post-category">

        {{ post.date | date: "%B %d, %Y" %}}&nbsp;&ndash;
        {% for category in post.categories%}
          <span class="speaker-name">{{ category }}</span><span class="separator">,&nbsp;</span>
        {% endfor %}
      
      </p>
      
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>

    {% endfor %}
  
  </div>

</div>