{% assign post = page %}
{% assign postDate = post.date | date: '%Y-%m-%d' %}

<article data-post-date="{{ postDate }}">

  <header>
    <h1>
      {% if post.emoji %}{{ post.emoji }} {% endif %}
      <span>{% if post.speaker %}{{ post.speaker }}: {% endif %}</span>
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
  
    <h2>
      {{ post.date | date: "%A, %B %e, %Y @ %l:%M %P %Z" }}
    </h2>  
  </header>

  <main>
    {% if post.banner %}
      <img src="{{ post.banner }}"/>
    {% endif %}
    {{ post.content }}
  </main>

  {% if post.rsvp or post.youtube %}
    <footer>
      {% if post.zoom %}
        <a href="{{ post.zoom }}">Join us</a> on Zoom.
      {% endif %}
      {% if post.rsvp %}
        <a href="{{ post.rsvp }}">RSVP</a> on Meetup.
      {% endif %}
      {% if post.youtube %}
        <a href="{{ post.youtube }}">Watch</a> it on YouTube.
      {% endif %}
    </footer>
  {% endif %}
  
</article>