<aside>

  <p>We meet every first Wednesday of the month at 6:00 pm. Come and see what we can do for you <span class="bold">that AI can't</span>.</p>

  <ul id="cta">
    <li>
      Browse upcoming events <a href="https://www.meetup.com/columbusjs/">on Meetup</a>.
    </li>
    <li>
      Peruse our <a href="/meetups">past events</a> and watch some of them on <a href="{{ site.youtube }}">YouTube</a>.
    </li>
    <li>
      Join the conversation on our <a href="{{ site.discord }}">Discord server</a>.
    </li>
  </ul>

  <p>Interested in speaking? Contact us on <a href="{{ site.twitter }}">Twitter</a> or
    by <a href="mailto:{{ site.email }}">email</a>.</p>

  <p>Take a look at what the <a href="/meta">Meta Team</a> is doing.</p>

</aside>
