<aside>

  <p>{{ site.description }}</p>

  <p>We meet every third Wednesday at 6:30 p.m.</p>

  <ul id="cta">
    <li>
      Browse <a href="/">upcoming events</a> and watch them live on
      <a href="{{ site.twitch }}">Twitch</a>.
    </li>
    <li>
      Checkout out our <a href="/meetups">past events</a> and watch them on
      <a href="{{ site.youtube }}">YouTube</a>.
    </li>
    <li>
      Join the conversation on our <a href="{{ site.discord }}">Discord server</a>.
    </li>
  </ul>

</aside>
