<aside>

  <p>{{ site.description }}</p>

  <p>We meet every third Wednesday at 6:30 p.m.</p>

  <ul id="cta">
    <li>
      Browse <a href="/">upcoming events</a> and watch them live on
      <a href="https://www.twitch.tv/ColumbusJS">Twitch</a>.
    </li>
    <li>
      Checkout out our <a href="/meetups">past events</a> and watch them on
      <a href="https://www.youtube.com/channel/UCcoPThmAqKoedt7AVHl0elw">YouTube</a>.
    </li>
  </ul>

  <ul id="social-links">
    <li><a href="https://github.com/columbusjs" title="GitHub"><img src="/images/github.svg"></a></li>
    <li><a href="https://twitter.com/cbusjs" title="Twitter"><img src="/images/twitter.svg"></a></li>
  </ul>

</aside>
