<footer>
  <ul id="social-links">
    <li><a href="{{ site.twitch }}" title="Twitch"><img src="/images/twitch.svg"></a></li>
    <li><a href="{{ site.discord }}" title="Discord"><img src="/images/discord.svg"></a></li>
    <li><a href="{{ site.github }}" title="GitHub"><img src="/images/github.png"></a></li>
    <li><a href="{{ site.youtube }}" title="YouTube"><img src="/images/youtube.svg"></a></li>
    <li><a href="{{ site.twitter }}" title="Twitter"><img src="/images/twitter.svg"></a></li>
  </ul>
</footer>
