<footer
  class='main-nav navbar navbar-inverse'
  role='contentinfo'>
  <div class="container">
    <div class='navbar-header'>
      <div class="contact">
        <p>
          CBusJS<br />
          What You Are<br />
          your@email.com
        </p>
      </div>
      <div class="contact">
        <p>
          <a href="http://github.com/yourusername/">github.com/yourusername</a><br />
          <a href="http://twitter.com/yourusername/">twitter.com/yourusername</a><br />
        </p>
      </div>
    </div>
  </div>
</footer>