<div class="sidebar">

  <h1 class="site-title"><span><a href="/">{{ site.title }}</a></span></h1>

  <h2 class="description"><span>{{ site.description }}</span></h2>

  <div class="left-menu">
    <ul>
      <li><a href="/">Upcoming</a></li>
      <li><a href="/meetups">Past</a></li>
      <li><a href="/map">Map</a></li>
    </ul>
  </div>

  <div class="location">
    <h3>We meet every third Wednesday at 6:30 p.m.</h3>

    <div class="address">
      <p>
        The Forge</br>
        580 N. Fourth Street</br>
        Columbus, Ohio 43215
      </p>
    </div>

    <a href="/map">
      <img src="images/map-pin.svg">
    </a>
  </div>

  <div class="social-icons">
    <a href="https://github.com/cbusjs" title="https://github.com/cbusjs">
      <span class="github"><img src="images/github.svg"></span>
    </a>
    <a href="https://twitter.com/cbusjs" title="https://twitter.com/cbusjs">
      <span class="twitter"><img src="images/twitter.svg" ></span>
    </a>
  </div>

</div>
